.popular{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 90vh;
    /* justify-content: center; */
}
.popular hr{
    width: 200px;
    height: 10px;
    background-color: black;
    border-radius: 20px;
}
.popular_Item{
    /* margin-top: 50px; */
    display: flex;
    font-size: 17px;
    margin: 50px 0px 0px 0px;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    /* overflow: hidden; */
}